<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joseph | <%= title%></title>
  </head>
  <body>
    <div class="site-title">
      <a href="/">Joseph Ninja</a>
    </div>
    <ul>
      <li><a href="/">Blog</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>

    <div class="not-found content">OH MY NOTHING TO SEE HERE</div>
  </body>
</html>
